<div class="container mt-5">
    <div class="jumbotron text-center">
      <h1 class="display-4">Plataforma de Recepción y Obtención de Muestras (ROM)</h1></br></br>
      <p class="lead">Nuestra plataforma proporciona una solución integral para la administración eficaz de la recepción de muestras y su seguimiento. Aseguramos una recolección de datos exacta y un monitoreo exhaustivo durante todo el proceso preanalítico. Esto garantiza la trazabilidad completa de cada muestra, desde su recepción hasta la entrega al laboratorio para su análisis.</p></br>
      <div class="col-10 mx-auto">
     <ul class="list-group">
                <li class="list-group-item">Registro detallado de la producción del profesional en la recolección y recepción de muestras, incluyendo información como fechas, tipos de muestras y más detalles relevantes.</li>
                <li class="list-group-item">Trazabilidad completa de las muestras desde su recolección la entrega a cada laboratorio para su análisis, permitiendo un seguimiento preciso en cada etapa del proceso preanalítico.</li>
                <li class="list-group-item">Generación de reportes personalizados para analizar la producción del profesional, la cantidad de muestras recibidas, tiempos por etapa de proceso.</li>
                <li class="list-group-item">Análisis avanzado de datos para identificar tendencias, patrones y posibles áreas de mejora en el proceso de recepción y obtención de muestras, facilitando la toma de decisiones informadas.</li>
            </ul>
      </div>
    </div>
  </div>



