  <!-- Modal Cambio Contraseña -->
                  <div class="modal fade" id="modalCambioContra" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h1 class="modal-title fs-5" id="exampleModalLabel">APPROM - Cambiar contraseña</h1>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          Por favor, ingresa los datos de identificación de la cuenta:  </br></br>
                          
                  <form name="verificarDatos" id="verificarDatos" method="post" action="<?= pubUrl ?>" >
                     <div class="col-md-12">
                        <div class="input-group mb-3 w-50">
                              <span class="input-group-text">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bk-fill-lock" viewBox="0 0 16 16">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bk-fill" viewBox="0 0 16 16">
                                      <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/>
                                  </svg>
                              </span>  
                                <input type ="text" class="form-control" name="usuarioM" id="usuarioM" placeholder="Usuario*" required>
                        </div>
                        </div>
                        <div style="margin-top:-0.5%" class="col-md-12">
                          <div class="input-group mb-3 w-50">
                              <span class="input-group-text">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lock-fill" viewBox="0 0 16 16">
                                      <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2z"/>
                                    </svg> 
                                  </span> 
                                    <input type ="password" class="form-control" name="contrasenaM" id="contrasenaM" autocomplete="on" placeholder="**********" required>
                          </div>
                        </div>
                     
                 
                           </br>
                          
                
                      <div id="nuevoPass" style="margin-top:-0.5%" class="col-md-12" hidden>
                          Ingresa el nuevo password:
                          <div style="margin-top: 3%" class="input-group mb-3 w-50">
                              <span class="input-group-text">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lock-fill" viewBox="0 0 16 16">
                                      <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2z"/>
                                    </svg> 
                                  </span> 
                                    <input type ="password" class="form-control" name="contrasenaMN" id="contrasenaMN" autocomplete="on" placeholder="**********" required>
                          </div>
                        </div>
                    </form>

                  <div id="passIncorrecto" class="alert alert-danger" role="alert" hidden>
                     Lo siento, el password es incorrecto!
                  </div>
                  <div id="passDigitos" class="alert alert-danger" role="alert" hidden>
                     El nuevo password debe tener por lo menos 5 dígitos!
                  </div>

                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                          <button id="ButtonModalCambioSiguiente" type="button" class="btn btn-success" onclick="buttonCambioSiguiente()">Siguiente</button>
                          <button id="ButtonModalCambioGrabar" type="button" class="btn btn-primary" onclick="buttonCambioGrabar()" hidden>Grabar</button>
                        </div>
                      </div>
                    </div>
                  </div>
