  <div class="container noVisibleEnMovil">
    <div style="margin-left: 250px; margin-right:250px">
      <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://github.com/coliveramispireta/imagenes/blob/main/Captura1.PNG?raw=true" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://github.com/coliveramispireta/imagenes/blob/main/Captura2.PNG?raw=true" class="d-block w-100" alt="...">
          </div>
<!--
          <div class="carousel-item">
            <img src="https://github.com/coliveramispireta/imagenes/blob/main/imagen%203.png?raw=true" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://github.com/coliveramispireta/imagenes/blob/main/imagen%204.png?raw=true" class="d-block w-100" alt="...">
          </div>
          -->
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
      </div>
    </div>
  </div>
