<div text-align="center" class="col-md-6 index myCentratev2 noVisibleEnMovil">
  <div class="col-12" style="margin-left:13%">
    <img class="imagen" src="https://github.com/coliveramispireta/imagenes/blob/main/LOGOappv2.png?raw=true" alt="Logo" style="filter: saturate(120%); width: 180px; height: auto; margin-top: -3%;">
    <p style="color:#fff; font-size:40px; font-weight: bold;">REGISTRO DE RECEPCIÓN Y OBTENCIÓN DE MUESTRAS</p>
    <p style="color:#fff; margin-top: -20px; font-size: 22px; ">CENTRO NACIONAL DE SALUD PÚBLICA</p>
    <div>
      <p id="title" class="titleFont" spellcheck="false">
        <span style="color:#FFF">APP</span><span style="color:#277fa7">ROM</span> </p>
    </div>
    <!-- 
                <img src="https://github.com/coliveramispireta/imagenes/blob/main/minsa%20-%20ins%20-%20DILAB.png?raw=true" alt="Logo" style="width: 650px; height: 70px; margin-top: 10%;">
                -->
  </div>
</div>